.App {
  text-align: center;
  margin: 20px;
}

h2 {
  color: #333;
}

ul {
  margin: 20px auto;
  max-width: 400px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

button {
  font-size:14px;
}
